.form-box
{
    margin: 2vw 30vw;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    box-shadow: 5px 7px rgba(44, 41, 44, 0.2);
}

legend, .alert
{
    text-align: center;
}

.center-block
{
    margin: 0 auto;
    display: block;
}

.form-control {
    border-width: 1.5px;
}

.table-container {
    margin: 5vh 20vw;
}

.list-container {
    margin: 5vh 10vw;
}

.member-table {
    margin: 0 auto;
    border-style: solid;
    border-width: 0.5px;
}

@media only screen and (max-width: 1000px) {
    .table-container {
        margin: 5vh 9vw;
    }
    .form-box {
        margin: 2vw 10vw;
    }
}

@media only screen and (max-width: 700px) {
    .table-container {
        margin: 5vh;
    }
    .form-box {
        margin: 2vw 5vw;
    }
}

@media print {
    .buttons {
        display: none;
    }
    nav {
        display: none;
    }
}