{% extends "layout.html" %}

{% block main%}
  <div class="form-box">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
      <legend class="border-bottom mb-4">Alterar Membro</legend>
      <div class="form-group">
        {{ form.delete()}}
        {{ form.delete.label() }}
      </div>
      <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {% if form.name.errors %}
          {{ form.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
          {% for error in form.name.errors %}
            <span> {{ error }}</span>
          {% endfor %}
          </div>
        {% else %}
          {{ form.name(class="form-control form-control-lg fields")}}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.id_type.label(class='form-control-label')}}
        {% if form.id_type.errors %}
          {{ form.id_type(class='form-control form-control-lg is-invalid')}}
          <div class="invalid-feedback">
          {% for error in form.id_type.errors %}
            <span> {{ error }}</span>
          {% endfor %}
          </div>
        {% else %}
          {{ form.id_type(class='form-control form-control-lg fields')}}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.id_number.label(class='form-control-label')}}
        {% if form.id_number.errors %}
          {{ form.id_number(class='form-control form-control-lg is-invalid')}}
          <div class="invalid-feedback">
          {% for error in form.id_number.errors %}
            <span> {{ error }}</span>
          {% endfor %}
          </div>
        {% else %}
          {{ form.id_number(class='form-control form-control-lg fields')}}
        {% endif %}
      </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class='btn btn-primary center-block')}}
      </div>
    </form>
  </div>
  <script>
    let elements = document.getElementsByClassName("fields");
    let del = document.querySelector("#delete");
    let button = document.querySelector('#submit');
    let exclude = false;
    window.onload = () => {
      del.onclick = function() {
        exclude = !exclude;
        for (element of elements) {
          element.disabled = !element.disabled;
        };
        if (exclude == true) {
          button.value = "Excluir";
        } else {
          button.value = "Alterar";
        };
      };
    };
  </script>
{% endblock %}