{% extends 'layout.html' %}

{% block main %}
  <div class="full-list-container">
    <table id="full_list" class="table striped full-list">
      <thead>
        <tr>
            <th colspan="3" style="text-align: center">Membros</th>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Documento</th>
          <th>Nº</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.id_type }}</td>
          <td style="white-space: nowrap">{{ member.id_number }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% if guests.all() %}
        <thead>
          <tr>
            <th colspan="3" style="text-align: center">Convidados</th>
          </tr>
          <tr>
            <th>Nome</th>
            <th>Documento</th>
            <th>Nº</th>
          </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
          <tr>
            <td>{{ guest.name }}</td>
            <td>{{ guest.id_type }}</td>
            <td style="white-space: nowrap">{{ guest.id_number }}</td>
          </tr>
        {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
  <div class="buttons">
    <button class='btn btn-primary center-block' onclick="window.location.href = './exportar'">Exportar CSV</button>
    <button class='btn btn-primary center-block' onclick="window.location.href = './download_pdf'">Exportar PDF</button>
    <button class='btn btn-primary center-block' onclick="window.location.href = './download_html'">Exportar HTML</button>
  </div>

{% endblock %}